<div class="card text-dark bg-info mb-3" style="max-width: 35rem;">
    <h1 class="card-header">Phone Number</h1>
    <div class="card-body">
     <button type="submit" class="btn btn-danger"> Clear All </button>
     <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Guru</td>
            <td>9876543210</td>
            <td> 
                <button type="button" class="btn btn-warning"> Edit </button>
                <button type="button" class="btn btn-danger"> Delete </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Vamsi</td>
            <td>9876543210</td>
            <td> 
              <button type="button" class="btn btn-warning"> Edit </button>
              <button type="button" class="btn btn-danger"> Delete </button>
          </td>
          </tr>
        
        </tbody>
      </table>
    </div>